FACEBOOK 	= #3B5998
TWITTER 	= #43C5F6

BLUE        = #008CBA
GRAY 		= #B5B5B5

ORANGE 		= #F26F24

GREEN 		= #5EC23D

RED 		= #CA2959

PURPLE 		= #6A448C

.background-facebook
	background-color FACEBOOK

.background-twitter
	background-color TWITTER

.button
	&.background-green
		background-color GREEN
		
.background-green
	background-color GREEN

.background-gray
	background-color GRAY

.background-orange
	background-color ORANGE	

.background-red	
	background-color RED	

.background-yellow
	background-color YELLOW

.background-purple
	background-color PURPLE