@import "nib"

@import "normalize.styl"
@import "foundation.min.css"

@import "colors.styl"
@import "fonts.styl"


body
	font-family 'Open Sans',Arial
	font-size 16px
	font-weight 300
ul
	margin 0
	padding 0
li
	list-style none

.content
	padding-top 2em

.sub-nav
	background-color: #f2f2f2;
	padding: 10px 10px 10px 0;

.browsehappy
	background #FAC45A
	margin 0
	padding 1em
	position fixed
	width 100%
	a
		color blue
		font-weight bold