.topbar	
	.profile
		background BLUE
		li
			background BLUE
		.user
			color: white;
			margin: 10px 15px;
		.avatar
			font-size: 2em;
			padding-top: .2em;
			display: block;
			color: white;
#dropdown-profile
	&:before,
	&:after
		display none